ARAB_SECRET_KEY=ضع-هنا-قيمة-عشوائية-طويلة-جدا
ARAB_ADMIN_PASSWORD=admin564
ARAB_API_TOKEN=
ARAB_API_BASE_URL=https://api.shams4store.com
DATABASE_URL=postgresql://postgres.xxxx:xxxx@xxxx.pooler.supabase.com:6543/postgres
SUPABASE_URL=https://xxxx.supabase.co
SUPABASE_SERVICE_ROLE_KEY=xxxx
ARAB_STORAGE_BUCKET=store-assets
ARAB_VAPID_PUBLIC_KEY=
ARAB_VAPID_PRIVATE_KEY=
ARAB_VAPID_EMAIL=mailto:you@example.com
